.swal2-popup {
  @apply bg-black lg:h-[300px]  font-VarelaRound  text-white ring ring-blue-400;
}
.swal2-popup a {
  @apply bg-white theme-text font-semibold font-VarelaRound  lg:text-base text-xs;
}
.isConfirmed {
  @apply bg-blue-300 !important;
}
.swal2-popup {
  display: none;
  position: relative;
  box-sizing: border-box;
  grid-template-columns: minmax(0, 100%);

  padding: 0 0 1.25em;
  border: none;
  border-radius: 3rem;
  @apply transform duration-300 w-[300px];
}
.swal2-icon {
  position: relative;
  box-sizing: content-box;
  justify-content: center;
  width: 5em;
  height: 4.5em;
  border: none;
  border-radius: 0%;

  font-family: inherit;
  line-height: 5em;
  cursor: default;
  user-select: none;
  @apply duration-300 transform;
}
input#file-upload-button {
  @apply bg-black py-3;
}
.file-upload {
  @apply min-w-[230px] border-4 border-dotted border-pink-600 mx-auto h-[215px];
  text-align: center;

  border-radius: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  cursor: pointer;
}

.file-upload p {
  font-size: 0.87rem;
  margin-top: 10px;
  color: #bbcada;
}
.file-upload input {
  display: block;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
  cursor: pointer;
}
.containerUp {
  border-radius: 10px;
  box-shadow: 4px 4px 30px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  /* padding: 10px; */
  gap: 5px;
  background-color: rgba(0, 110, 255, 0.041);
  @apply w-[300px] h-[250px] lg:w-[600px] lg:h-[350px];
}
.containerUpn {
  border-radius: 10px;
  box-shadow: 4px 4px 30px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  /* padding: 10px; */
  gap: 5px;
  background-color: rgba(0, 110, 255, 0.041);
  @apply w-[300px] h-[250px] lg:w-[300px] lg:h-[250px];
}
.containerUp2 {
  border-radius: 10px;
  box-shadow: 4px 4px 30px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  /* padding: 10px; */
  gap: 5px;
  background-color: rgba(0, 110, 255, 0.041);
  @apply w-[100px] lg:h-[150px] lg:w-[200px] h-[100px];
}
.containerUp3 {
  border-radius: 10px;
  box-shadow: 4px 4px 30px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  /* padding: 10px; */
  gap: 5px;
  background-color: rgba(0, 110, 255, 0.041);
  @apply w-[97%] mx-auto lg:h-[250px] lg:w-[400px] h-[250px];
}
.containerUp4 {
  border-radius: 10px;
  box-shadow: 4px 4px 30px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  /* padding: 10px; */
  gap: 5px;
  background-color: rgba(0, 110, 255, 0.041);
  @apply w-[50%] mx-auto  lg:w-[100px] h-[100px];
}

.containerUpheader {
  flex: 1;
  width: 100%;
  border: 2px dashed royalblue;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.svgDelete svg {
  height: 100px;
}

.containerUpheader p {
  text-align: center;
  color: black;
}

.svgDelete {
  /* background-color: rgba(0, 110, 255, 0.075); */

  height: 40px;
  padding: 8px;

  border-radius: 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  color: black;
  border: none;
  @apply absolute  bottom-2 lg:left-[250px] left-[90px] w-[50px];
}
.svgDelete2 {
  /* background-color: rgba(0, 110, 255, 0.075); */

  height: 35px;
  padding: 8px;

  border-radius: 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  color: black;
  border: none;
  @apply absolute  bottom-2 left-[9px] lg:left-[56px] w-[50px];
}
.svgDelete3 {
  /* background-color: rgba(0, 110, 255, 0.075); */

  height: 35px;
  padding: 8px;

  border-radius: 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  color: black;
  border: none;
  @apply absolute  bottom-2 left-[130px] lg:left-[150px] w-[50px];
}

.svgDelete svg {
  height: 130%;
  fill: royalblue;
  background-color: rgba(70, 66, 66, 0.103);
  border-radius: 50%;
  /* padding: 2px; */
  cursor: pointer;
  box-shadow: 0 2px 30px rgba(0, 0, 0, 0.205);
}
.svgDelete2 svg {
  height: 130%;
  fill: royalblue;
  background-color: rgba(70, 66, 66, 0.103);
  border-radius: 50%;
  /* padding: 2px; */
  cursor: pointer;
  box-shadow: 0 2px 30px rgba(0, 0, 0, 0.205);
}
.svgDelete3 svg {
  height: 130%;
  fill: royalblue;
  background-color: rgba(70, 66, 66, 0.103);
  border-radius: 50%;
  /* padding: 2px; */
  cursor: pointer;
  box-shadow: 0 2px 30px rgba(0, 0, 0, 0.205);
}

.containerUpfooter p {
  flex: 1;
  text-align: center;
}
