.active1 {
  height: 30px;
  /* width: 50px; */
  text-align: center;

  outline: none;

  color: #2d8cf0;
  @apply font-RussoOne uppercase  flex items-center  justify-center transform duration-300;
}
